
:root {
    --color-white: #ffffff;
    --color-black: #000000;
    --color-grey-25: #808080;
    --color-grey-50: #F5F5F5;
    --color-grey-100: #ebebeb;
    --color-grey-200: #e7e6e7;
    --color-grey-300: #CFCFCF;
    --color-grey-500: #666666;
    --color-grey-700: #333333;

    --space-75: clamp(0.5625rem, 0.4688rem + 0.3125vi, 0.75rem);
    --space-100: clamp(0.75rem, 0.625rem + 0.4167vi, 1rem);
    --space-150: clamp(1.125rem, 0.9375rem + 0.625vi, 1.5rem);
    --space-200: clamp(1.5rem, 1.25rem + 0.8333vi, 2rem);

    --font-size-50: clamp(0.75rem, 0.6875rem + 0.2083vw, 0.875rem);
    --font-size-75: clamp(0.875rem, 0.8125rem + 0.2083vw, 1rem);
    --font-size-100: clamp(1rem, 0.9375rem + 0.2083vw, 1.125rem);
    --font-size-200: clamp(1.125rem, 1.0625rem + 0.2083vw, 1.25rem);
    --font-size-300: clamp(1.25rem, 1.125rem + 0.4167vw, 1.5rem);
    --font-size-400: clamp(1.5rem, 1.25rem + 0.8333vw, 2rem);
    --font-size-500: clamp(2.5rem, 1.75rem + 2.5vw, 4rem);
    --font-size-600: clamp(3rem, 2.25rem + 2.5vw, 4.5rem);

}

:root {
    --color-background: var(--color-grey-100);
    --color-background-soft: var(--color-grey-200);

    --color-text: var(--color-grey-700);
}


/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    background-color: var(--color-background);
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

@font-face {
    font-family: 'DM Sans';
    src: url('./fonts/DMSans.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
    overflow-x: hidden;
    padding: 0px;
    margin: 0px
}

body {
    font-family: 'Dm sans', sans-serif;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.2px;
    word-wrap: break-word;
    font-weight: 400;
    background-color: #F8F8F8;
    color: #767676;
}

svg {
    fill: currentcolor;
    width: 25px;
    height: 25px;
}

img.svg {
    width: 15px;
    height: 15px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    line-height: 1.2;
    font-family: "Dm sans";
    color: #000;
}

h1 {
    font-size: var(--font-size-500);
    line-height: 1.1;
    letter-spacing: 0.02em;
    font-weight: 500;
    text-wrap: balance;
    hyphens: auto;
}

h2 {
    font-size: var(--font-size-400);
    line-height: 1.15;
    letter-spacing: 0.02em;
    font-weight: 500;
    text-wrap: balance;
    hyphens: auto;
}

h3 {
    font-size: var(--font-size-300);
    line-height: 1.25;
    font-weight: 500;
    text-wrap: balance;
    hyphens: auto;
}

h4 {
    font-size: var(--font-size-200);
    line-height: 1.35;
    font-weight: 500;
    text-wrap: balance;
    hyphens: auto;
}

h5 {
    font-size: var(--font-size-100);
    line-height: 1.35;
    font-weight: 500;
}

p {
    font-size: var(--font-size-100);
    font-weight: 300;
    line-height: 1.5;
}
