
:root {
    --color-white: #ffffff;
    --color-black: #000000;
    --color-grey-25: #808080;
    --color-grey-50: #F5F5F5;
    --color-grey-100: #ebebeb;
    --color-grey-200: #e7e6e7;
    --color-grey-300: #CFCFCF;
    --color-grey-500: #666666;
    --color-grey-700: #333333;

}

/* semantic color variables for this project */
:root {
    --color-background: var(--color-grey-100);
    --color-background-soft: var(--color-grey-200);

    --color-text: var(--color-grey-700);

    --color-border: var(--vt-c-divider-light-2);
    --color-border-hover: var(--vt-c-divider-light-1);

    --color-heading: var(--vt-c-text-light-1);
    --color-text: var(--vt-c-text-light-1);

    --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-background: var(--vt-c-black);
        --color-background-soft: var(--vt-c-black-soft);
        --color-background-mute: var(--vt-c-black-mute);

        --color-border: var(--vt-c-divider-dark-2);
        --color-border-hover: var(--vt-c-divider-dark-1);

        --color-heading: var(--vt-c-text-dark-1);
    }
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    background-color: var(--color-background);
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

@font-face {
    font-family: 'DM Sans';
    src: url('./fonts/DMSans.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
    overflow-x: hidden;
    padding: 0px;
    margin: 0px
}

body {
    font-family: 'Dm sans', sans-serif;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.2px;
    word-wrap: break-word;
    font-weight: 400;
    background-color: #F8F8F8;
    color: #767676;
}

svg {
    fill: currentcolor;
    width: 25px;
    height: 25px;
}

img.svg {
    width: 15px;
    height: 15px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    line-height: 1.2;
    font-family: "Dm sans";
    color: #000;
}

h1 {
    font-size: 45px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 16px;
}
