@import './base.css';

.mx-auto{
    margin-right: auto;
    margin-left: auto;
}
.container {
    padding-left: 3rem;
    padding-right: 3rem;
}
.max-w-container {
    max-width: 85rem;
}
.w-full{
    width: 100%;
}
.flex{
    display: flex;
}
.flex-row{
    flex-direction: row;
}
.flex-col{
    flex-direction: column;
}
.items-center{
    align-items: center;
}
.list-none{
    list-style-type: none;
}
.margin{
    margin: 1rem;
}
.mx-4{
    margin-left: 1rem;
    margin-right: 1rem;
}
.my-4{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.py-4{
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.justify-between{
    justify-content: space-between;
}
.gap-4{
    gap:1rem;
}
.shadow-lg{
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}
.topbar{
    position: sticky;
    background-color: var(--color-background-soft);
}
.logo img{
    width: 3rem;
    height: 3rem;
}
.anchor_nav li a{
    color: var(--color-text);
    text-decoration: none;
}